<table cellspacing="1" class="outer" width="100%">
    <tr class="head" align="center">
      <td width="5%">&nbsp;</td>
      <td nowrap="nowrap" align="left"><{$smarty.const._MD_SUBFORUMS}></td>
      <td nowrap="nowrap">&nbsp;</td>
      <td nowrap="nowrap"><{$smarty.const._MD_LASTPOST}></td>
    </tr>
    <!-- start subforums -->
  <{foreachq item=sforum from=$subforum}>
  <tr>
    <td class="even" align="center" valign="middle"><{$sforum.forum_folder}></td>
    <td class="odd" onclick="window.location='<{$xoops_url}>/modules/<{$xoops_dirname}>/viewforum.php?forum=<{$sforum.forum_id}>'"><a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewforum.php?forum=<{$sforum.forum_id}>"><strong><{$sforum.forum_name}></strong></a><br />
        <div id="index_forum">
            <{$sforum.forum_desc}>
            <{if $sforum.forum_moderators}><br/>
                <span class="extra"><{$smarty.const._MD_MODERATOR}>:&nbsp;</strong><{$sforum.forum_moderators}>
            <{/if}>
        </div>
   	</td>
    <td class="even" align="center" valign="middle">
        <{$sforum.forum_topics}>  <{$smarty.const._MD_TOPICS}>
        <br />
        <{$sforum.forum_posts}> <{$smarty.const._MD_POSTS}>
    </td>
    <td class="odd" align="right" valign="middle">
        <{if $sforum.forum_lastpost_time}>
            <{$sforum.forum_lastpost_time}><br />
            <{$sforum.forum_lastpost_user}> 
            <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewtopic.php?post_id=<{$sforum.forum_lastpost_id}>">
            <img src="<{$xoops_url}>/images/subject/<{$sforum.forum_lastpost_icon}>" alt="<{$smarty.const._MD_NEWBB_GOTOLASTPOST}>" title="<{$smarty.const._MD_NEWBB_GOTOLASTPOST}>" />
            </a>
            <{if $sforum.forum_lastpost_subject}>
                <br /> 
                <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/viewtopic.php?post_id=<{$sforum.forum_lastpost_id}>">
                <{$sforum.forum_lastpost_subject}>
                </a> 
            <{/if}>
        <{else}>
            <{$smarty.const._MD_NONEWPOSTS}>
      	<{/if}>
	</td>
  </tr>
	<{/foreach}>
  <!-- end subforums -->
</table>