<table class="outer" cellspacing="1">
  <{if $block.disp_mode == 0}>
    <tr>
        <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_FORUM}></th>
        <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_TITLE}></th>
        <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_AUTHOR}></th>
    </tr>

  <{foreachq item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><{$topic.seo_forum_url}></td>
    <td><{$topic.seo_url}></td>
    <td align="right"><{$topic.time}><br /><{$topic.topic_poster}></td>
  </tr>
  <{/foreach}>

  <{elseif $block.disp_mode == 1}>

  <tr>
    <th class="head" nowrap="nowrap"><{$smarty.const._MB_NEWBB_TOPIC}></th>
    <th class="head" align="center" nowrap="nowrap"><{$smarty.const._MB_NEWBB_AUTHOR}></th>
  </tr>

  <{foreachq item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><{$topic.seo_url}></td>
    <td align="right"><{$topic.time}><br /><{$topic.topic_poster}></td>
  </tr>
  <{/foreach}>

  <{elseif $block.disp_mode == 2}>

  <{foreachq item=topic from=$block.topics}>
  <tr class="<{cycle values="even,odd"}>">
    <td><{$topic.seo_url}></td>
  </tr>
  <{/foreach}>

  <{else}>
  <tr><td>
	<{foreachq item=topic from=$block.topics}>
	<div><strong><a href="<{$xoops_url}>/modules/newbb/viewtopic.php?forum=<{$topic.forum_id}>&amp;post_id=<{$topic.post_id}>#forumpost<{$topic.post_id}>"><{$topic.title}></a></strong></div>
	<div>
	<a href="<{$xoops_url}>/modules/newbb/viewforum.php?forum=<{$topic.forum_id}>"><{$topic.forum_name}></a> | 
	<{$topic.topic_poster}> | <{$topic.time}>
	</div>
	<div style="padding: 5px 0px 10px 0px;"><{$topic.post_text}></div>
	<{/foreach}>
  </td></tr>
  <{/if}>

</table>

<{if $block.indexNav}>
    <div style="text-align:right; padding: 5px;">
        <{$block.seo_top_allposts}> |
        <{$block.seo_top_allforums}>        
    </div>
<{/if}>