<b><u><{$block.membership_lang}>:</u></b><br />
<img src='<{$xoops_url}>/modules/membership/images/today.gif'> <{$block.today_lang}>: <{$block.todayreg}><br />
<img src='<{$xoops_url}>/modules/membership/images/yesterday.gif'> <{$block.yesterday_lang}>: <{$block.yesterdayreg}><br />
<img src='<{$xoops_url}>/modules/membership/images/registered.gif'> <{$block.overall_lang}>: <{$block.activeusers}><br />
<img src='<{$xoops_url}>/modules/membership/images/icon_new.gif'> <{$block.latest_lang}>: <a href="<{$xoops_url}>/userinfo.php?uid=<{$block.latest_id}>"><{$block.latest}></a><br />
<hr>
<b><u><{$block.online_lang}>:</u></b><br />
<img src='<{$xoops_url}>/modules/membership/images/guest.gif'> <{$block.guests_lang}> : <{$block.online_guests}><br />
<img src='<{$xoops_url}>/modules/membership/images/users.gif'> <{$block.members_lang}> : <{$block.online_members}><br />
<img src='<{$xoops_url}>/modules/membership/images/bots.gif'> <{$block.bots_lang}> : <{$block.online_bots}><br />
<img src='<{$xoops_url}>/modules/membership/images/online.gif'> <{$block.total_lang}>: <{$block.total_online}><br />
<hr>
<table class="outer" cellspacing="0"><th colspans="3"> <{$block.list_lang}> [<a href="javascript:openWithSelfMain('<{$xoops_url}>/misc.php?action=showpopups&amp;type=online','Online',420,350);"><{$block.popup_lang}></a>]<br /></th></table>
<{$block.online_names}>
<{$block.online_guest}>
<{$block.content}>
