/**
* $Id: smartmedia.css,v 1.1 2005/05/13 18:21:55 malanciault Exp $
* Module: SmartFAQ
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/
.smartmedia_headertable {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

.smartmedia_modulename {
	font-size: 10px;
	text-align: left;
	font-weight: bold;
	padding-right: 0.3em;
	line-height: 18px;
}

.smartmedia_breadcrumb {
	font-size: 10px;
	line-height: 18px;
}

.smartmedia_index_msg {
	margin-bottom: 8px;
	line-height: 130%;
	display: block;
}

.category_list {
	text-align: left;
}

.category_item {
	padding-bottom: 10px;
	width: 50%
}

.category_title_link {
	font-size: 18px;
	padding-left: 1px;
	font-weight: bold;
}

.category_title_list {
	padding-left: 1px;
	font-weight: bold;
}

.category_description {
	font-size: 10px;
	padding-left: 0px;
	padding-right: 10px;
	text-align: justify;
}

.smartmedia_clip_counter {
	font-size: 9px;
	align: left;
}

.folder_list {
	
}

.folder_item {
	padding-bottom: 10px;
	width: 50%
}

.folder_title_link {
	font-size: 18px;
	padding-left: 1px;
	font-weight: bold;
}

.folder_title_list {
	font-size: 18px;
	padding-left: 1px;
	font-weight: bold;
}

.folder_image {
	width: 30px;
	padding-right: 5px;
}

.folder_summary {
	font-size: 10px;
	padding-left: 0px;
	padding-right: 10px;
	text-align: justify;
}

.folder_description {
	font-size: 10px;
	padding-left: 0px;
	padding-right: 10px;
	text-align: justify;
}

.clip_list {
	
}

.clip_item {
	padding-bottom: 10px;
	width: 50%
}

.clip_title_list {
	font-size: 18px;
	font-weight: bold;
}

.clip_title_link {
	font-size: 18px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-weight: bold;
}

.clip_image {
	width: 30px;
	padding-right: 5px;
}

.clip_description {
	font-size: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
	padding-right: 10px;
	text-align: justify;
}

.clip_single {
	
}

.clip_links {
	width: 330px;
}

.main_image {
	padding-top: 3px;
	padding-right: 5px;
	align: left;
}

.list_image {
	padding-top: 3px;
	padding-right: 5px;
}

.smartmedia_categoryname {
	vertical-align: middle;
	font-size: 18px;
	text-align: right;
	font-weight: bold;
	margin: 0;
	line-height: 23px;
}

.smartmedia_collaps_title {
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	display: block;
}

.smartmedia_collaps_info {
	margin: 3px 0 12px 0;
	font-size: small;
	display: block;
}

.smartmedia_category_dsc {
	margin: 3px 0 10px 0;
	font-size: small;
	display: block;
}

.smartmedia_adminlink {
	padding-top: 15px;
	clear: both;
	font-size: 10px;
	text-align: left;
	line-height: 18px;
}

.smartmedia_adminlinks {
	padding-top: 10px;
	font-size: 10px;
	text-align: left;
	line-height: 18px;
}

smartmedia_highresclip {
	margin: 3px 0 10px 0;
	font-size: small;
	display: block;
}

.itemFoot {
	text-align: right;
	padding: 3px;
	border: 1px solid #808080;
	background-color: #fff;
}

.itemFoot {
	text-align: right;
	padding: 3px;
	border: 1px solid #808080;
	background-color: #fff;
}

.modfooter {
	text-align: center;
	padding-top: 6px;
	font-size: 9px;
	border-top: 0px solid #ccc;
}

.spotlight_readmore {
	font-size: 10px;
	text-align: right;
	border-bottom: 1px solid #000000;
}

.curseur {
	cursor: hand;
}

<!--
Written by Radio-Canada -->BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titre {
	FONT-WEIGHT: bold;
	FONT-SIZE: 140%
}

.stitre {
	FONT-WEIGHT: bold;
	FONT-SIZE: 120%
}

.sstitre {
	FONT-WEIGHT: bold;
	FONT-SIZE: 110%
}

.ssstitre {
	FONT-WEIGHT: normal;
	FONT-SIZE: 100%
}

.big {
	FONT-WEIGHT: bold;
	FONT-SIZE: 200%
}

.titi {
	FONT-WEIGHT: normal;
	FONT-SIZE: 70%
}

.date {
	FONT-WEIGHT: normal;
	FONT-SIZE: 80%
}

.blay {
	FONT-WEIGHT: bold
}

.ulay {
	TEXT-DECORATION: underline
}

.ilay {
	FONT-STYLE: italic
}

.titre_lay {
	FONT-WEIGHT: bold;
	FONT-SIZE: 90%
}

P.play {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_txt_dossier {
	MARGIN-TOP: -15px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.suiv_lay {
	FONT-SIZE: 70%;
	COLOR: #020268;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

.breadsp {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.breadspfin {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.date1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titreclip {
	MARGIN-TOP: -2px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titredossier {
	MARGIN-TOP: -4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

LI {
	LIST-STYLE-TYPE: square
}

.clip_retour {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	MARGIN-BOTTOM: 0px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.conhyp {
	PADDING-LEFT: 4px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.liconhyp {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	MARGIN-LEFT: -22px;
	COLOR: #000000
}

.ulconhyp {
	MARGIN-TOP: 0px;
	FONT-SIZE: 11px;
	MARGIN-BOTTOM: 2px;
	COLOR: #020268;
	LIST-STYLE-TYPE: square
}

.date2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #333333;
	MARGIN-RIGHT: 20px
}

P.p_txt_dossier {
	MARGIN-TOP: -15px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 80%;
	MARGIN-BOTTOM: 15px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_txt_ssdossier {
	MARGIN-TOP: 4px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 72%;
	MARGIN-BOTTOM: 15px;
	MARGIN-RIGHT: 10px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_txt_ssdossier2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_clipadd {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_clipadd2 {
	MARGIN-TOP: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.clipadd_pop_titre {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.clipadd_pop_titre_clip {
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_clipadd_pop_list {
	MARGIN-TOP: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	MARGIN-BOTTOM: 5px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.str_clipadd_pop_list {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: none
}

A.pop_fermer {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #020268;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	TEXT-DECORATION: underline
}

A.pop_fermer:active {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #020268;
	TEXT-DECORATION: underline
}

P.p_clipadd_info_clip {
	MARGIN-TOP: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	MARGIN-BOTTOM: 5px;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titre_listhebdo {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_listhebdo1 {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.date_listhebdo {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_dossier {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 2px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_hebdoclip1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	PADDING-BOTTOM: 2px;
	MARGIN-LEFT: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_heb_list_date {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	MARGIN-LEFT: 0px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_heb_list_link {
	MARGIN-TOP: 2px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	MARGIN-BOTTOM: 2px;
	MARGIN-LEFT: 0px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_heb_list_time {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	PADDING-BOTTOM: 0px;
	MARGIN-LEFT: 0px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

P.p_txt_menu {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.texte {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.texteMessage {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #CC0000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titre1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.titrepages {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 18px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.stitrepages0 {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.stitrepages1 {
	MARGIN-TOP: 0px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.stitrepages2 {
	MARGIN-TOP: -10px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.textepages {
	FONT-WEIGHT: normal;
	FONT-SIZE: 80%;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.p270 {
	MARGIN-TOP: 2px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.p270b {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.p270c {
	MARGIN-TOP: -2px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}

.timeline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	text-align: center;
	letter-spacing: -1px;
}