.bluesprite-menu {
	height: 32px;
}

.bluesprite-menu ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none;
	width: auto;
	position: relative;
	display: block;
	height: 30px;
	font-size: 12px;
	font-weight: bold;
	background: transparent url(nav_bg.png) repeat-x top left;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #000000;
}

.bluesprite-menu ul li {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.bluesprite-menu li a {
	display: block;
	float: left;
	color: #999999 !important;
	text-decoration: none !important;
	font-weight: bold;
	padding: 8px 20px 0 20px;
}

.bluesprite-menu li a:hover {
	color: #FFFFFF !important;
	height: 22px;
	background: transparent url(nav_bg.png) 0px -30px no-repeat;
}

.bluesprite-menu li a.tabs-selected {
	display: inline;
	height: 22px;
	background: transparent url(nav_bg.png) 0px -30px no-repeat;
	float: left;
	margin: 0;
}

.bluesprite-content {
	display: none;
	padding: 0;
}

.bluesprite-block {
	padding: 10px;
}

.bluesprite-blocktitle {
	margin-top: 0px;
}

.bluesprite-blockcontent {
	padding: 0px;
	text-align: justify;
}

@media print {
	.bluesprite-content {
		display: block !important;
	}
}