.shadetabs-menu{
height:21px;
border-bottom: 1px solid gray;
/* width: 90%; width of menu. Uncomment to change to a specific width */
margin: 0 !important;
padding: 0 !important;
}

.shadetabs-menu ul{
height:auto;
padding: 3px 0 !important;
margin-left: 0 !important;
margin-top: 1px !important;
margin-bottom: 0 !important;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs-menu li{
display: inline;
margin: 0 !important;
}

.shadetabs-menu li a{
text-decoration: none;
padding: 3px 7px !important;
margin-right: 3px !important;
border: 1px solid #778;
color: #2d2b2b !important;
background: white url(shade.gif) top left repeat-x;
}

.shadetabs-menu li a:visited{
color: #2d2b2b !important;
}

.shadetabs-menu li a:hover{
text-decoration: underline;
color: #2d2b2b !important;
}

.shadetabs-menu li .tabs-selected{
position: relative;
top: 1px;
}

.shadetabs-menu li a.tabs-selected{ /*selected main tab style */
background-image: url(shadeactive.gif);
border-bottom-color: white;
}

.shadetabs-menu li a.tabs-selected:hover{ /*selected main tab style */
text-decoration: none;
}

.shadetabs-content{
    display: none;
    padding: 0;
}

.shadetabs-block{
    padding: 10px;
}

.shadetabs-blocktitle{
    margin-top: 0px;
	color: #819C9A;
}

.shadetabs-blockcontent{
    padding: 0px;
    text-align: justify;
}

@media print {
    .shadetabs-content {
        display:block !important;
    }
}
