/**
* $Id: module.css,v 1.1 2007/06/05 18:28:24 marcan Exp $
* Module: SmartFAQ
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/

.publisher_headertable {padding: 0; margin: 0; border-bottom: 1px solid; margin-bottom: 10px;}
.publisher_modulename {font-size: 0.8em; text-align: left; font-weight: bold; padding-right: 0.3em;	line-height: 18px;}
.publisher_breadcrumb {font-size: 0.8em; line-height: 18px;}

.publisher_infotitle {margin-top: 8px; margin-bottom: 8px; font-size: 250%; line-height: 250%; font-weight: bold; display: block;}
.publisher_infotext  {margin-bottom: 8px; line-height: 130%; display: block;}

.publisher_category_index_list{padding-top: 5px; padding-bottom: 5px; border-bottom: 1px solid;}
.publisher_categoryname {padding-bottom: 5px; vertical-align: middle; font-size: 120%; text-align: left; font-weight: bold; margin: 0; line-height: 120%;}
.publisher_category_image {float: left; padding-right:5px; display: block;}
.publisher_category_header {clear: both; padding-top: 10px; padding-bottom: 5px;}

.publisher_subcats {clear: both; padding-top: 5px; font-size: 90%;}
.publisher_subcats_info {padding-bottom: 5px; font-weight: bold;}

.publisher_collaps_title {margin-bottom: 2px; margin-top: 5px; font-size: 130%; line-height: 130%; font-weight: bold; display: block;}
.publisher_collaps_info {margin: 3px 0 12px 0; display: block;}

.publisher_item_head_cat {padding-top: 0px; text-align: right; font-style:normal; vertical-align: middle; display: block;}
.publisher_item_head_who {padding-top: 5px; text-align: right; font-style:normal; vertical-align: middle; display: block;}

.publisher_item_image {display: block; padding: 5px;}
.publisher_items_link {width: 50%; vertical-align: middle;}
.publisher_items_list {padding-top: 10px;}
.publisher_items_list_item {padding-top: 5px; padding-bottom: 5px;}

.publisher_list {padding: 8px;  font-size: 16px;}

.publisher_category_dsc {margin: 3px 0 10px 0; font-size: small; display: block;}
.publisher_adminlinks {padding-top: 15px; padding-bottom: 5px; font-size: 10px; text-align: center; line-height: 18px;}

.publisher_indexfooter {font-size: 10px; font-weight: bold; text-align: center;  padding: 10px;}
.publisher_itemfooter {font-size: 10px; font-weight: bold; text-align: center;  padding: 10px;}

.itemFoot {text-align: right; padding:3px; border:1px solid #808080;}
.itemFoot {text-align: right; padding:3px; border:1px solid #808080; }

.pre_itemInfo {padding-top: 5px;}

.modfooter{text-align: center; padding-top: 6px; font-size: 9px; border-top: 0px solid #ccc; }

.spotlight_readmore{font-size: 10px; text-align: right; border-bottom: 1px solid #000000;}

.publisher_pagenav_top{padding-top: 5px; font-size: 10px; text-align: left; }
.publisher_pagenav_bottom{padding-top: 5px; padding-bottom: 5px; font-size: 10px; text-align: center; }

#publisher_rpublisher_feed {padding-top: 5px; padding-bottom : 10px; text-align: center;}

#publisher_embeded_files {
	text-align: center;
	display: block;
}
/* 	bd tree block hack */
.publisher_tree{}
.publisher_tree ul {
    margin: 0;
    padding: 0;
   	margin-left: 6px;
}
.publisher_tree ul li {
    padding: 0;
    margin: 0;
	margin-bottom: 2px;
    list-style-type: none;
}
.publisher_tree ul li a {
	display: block;
	margin: 0;
	padding: 0;
}
.publisher_tree ul li ul{
	padding-left: 6px;
}
.publisher_tree ul li ul li ul{
	padding-left: 6px;
}
.publisher_tree .publisher_tree_category{}
.publisher_tree .publisher_tree_item{}
/* end bd */
