
<table cellspacing="0" style="padding-bottom: 5px;">
  <tr>
    <td>
    <{if $block.fadeImage != ""}>
    <{literal}>
    <script type="text/javascript">
    <!--
    nereidFadeObjects = new Object();
    nereidFadeTimers = new Object();
    function nereidFade(object, destOp, rate, delta){
        if (!document.all) {
            return;
        }
        if (object != '[object]'){
            setTimeout('nereidFade('+object+','+destOp+','+rate+','+delta+')',0);
            return;
        }
        clearTimeout(nereidFadeTimers[object.sourceIndex]);
        diff = destOp-object.filters.alpha.opacity;
        direction = 1;
        if (object.filters.alpha.opacity > destOp){
            direction = -1;
        }
        delta = Math.min(direction*diff,delta);
        object.filters.alpha.opacity+=direction*delta;

        if (object.filters.alpha.opacity != destOp){
            nereidFadeObjects[object.sourceIndex]=object;
            nereidFadeTimers[object.sourceIndex]=setTimeout('nereidFade(nereidFadeObjects['+object.sourceIndex+'],'+destOp+','+rate+','+delta+')',rate);
        }
    }
    //-->
    </script>
    <{/literal}>
    <{/if}>
      <div align='center'>
      <br />
      <{foreach item=client from=$block.clients}>
      <{$client.urllink}>
      <{if $client.image != ""}>
      <img src="<{$client.image}>" <{$client.img_attr}> border="0" alt="<{$client.title}>" <{$block.fadeImage}> /><br />
      <{/if}>
      <{$client.title}>
      </a>
      <{if $block.insertBr != ""}>
      <br /><br />
      <{/if}>
      <{/foreach}>
      </div>
    </td>
  </tr>
  <{if $block.see_all}>
  	<tr align="center">
  		<td><a href="<{$block.smartclient_url}>"><{$block.lang_see_all}></a></td>
  	</tr>
  <{/if}>
</table>
