<{include file='db:smartpartner_header.html'}>

<{if $on_index_page && $lang_intro_text}>
	<div class="smartpartner_infotitle"><{$lang_partnerstitle}></div>
	<div class="smartpartner_infotext"><{$lang_intro_text}></div>
	<br />
<{/if}>

<{if $partners}>
	<{foreach item=category from=$partners}>
		<{if $category.title}>
			<div class="smartpartner_category_block">
				<{if $category.image_url}>
					<a href="<{$category.link_view}>"><img class="smartpartner_category_image" src="<{$category.image_url}>" alt="<{$category.title}>" align="left"/></a>
				<{/if}>
				<div class="smartpartner_category_block_title">
					<a href="<{$category.link_view}>"><{$category.title}></a>
				</div>
				<div class="smartpartner_category_block_dsc">
					<{$category.description}>
				</div>
				<div class="smartpartner_category_subcats">
					<{foreach item=subcat key=itemnum from=$category.subcats}>
						<a href="<{$subcat.link_view}>"><{if $itemnum}> | <{/if}><{$subcat.title}></a>
					<{/foreach}>
				</div>
				<div class="smartpartner_clearboth"></div>
			</div>
		<{/if}>
		<table>
		<{foreach item=partner from=$category.partners}>
			<{if $partner.display_type == 'part' || $partner.display_type == 'full'}>
				<tr valign="top">
				    <td valign="top" width="<{$img_max_width}>" class="smartpartner_leftcol" align='center'>
						<a href='<{$smartpartner_url}>partner.php?id=<{$partner.id}>&cid=<{$category.categoryid}>'><img src='<{$partner.image}>' alt='<{$partner.title}>' title='<{$partner.title}>' /></a><br><br>
						<{if $partner.update_status == 'new'}>
						<img src='<{$smartpartner_url}>images/icon/new_icon.gif' />
				       <{elseif $partner.update_status == 'updated'}>
						<img src='<{$smartpartner_url}>images/icon/updated_icon.gif' />
				       <{/if}>
				    </td>
				    <td class='<{cycle values="even, odd"}>' style="padding: 5px;" align='left' valign='top'>
			    		<div class="smartpartner_partnertitle"><{$partner.title}>
				    		<{if $isAdmin}>
					    		<a href="<{$smartpartner_url}>admin/partner.php?op=mod&id=<{$partner.id}>"><img src="<{$smartpartner_url}>images/links/edit.gif" title="<{$lang_edit}>" alt="<{$lang_edit}>"/></a>
					    		<a href="<{$smartpartner_url}>admin/partner.php?op=del&id=<{$partner.id}>"><img src="<{$smartpartner_url}>images/links/delete.gif" title="<{$lang_delete}>" alt="<{$lang_delete}>"/></a>
							<{/if}>
			    		</div>
			    		<div class="smartpartner_partnersummary"><{$partner.summary}></div>
			  			<{if $partner.readmore}>
			    			<{if $partner.display_type == 'full'}>
			    				<div class="smartpartner_readmore"><a href="<{$smartpartner_url}>partner.php?id=<{$partner.id}>&cid=<{$category.categoryid}>"><{$lang_readmore}></a></div>
			    			<{else}>
			    				<div><b><{$partview_msg}></b></div>
			    			 <{/if}>
			    		<{/if}>
			    	</td>
				</tr>
			<{/if}>
		<{/foreach}>
		<tr>
			<td colspan="2">
				<!--removed by ampersand <{if $category.title && $on_index_page}>
					<div class="smartpartner_category_viewall">
						<a href="<{$category.link_view}>"><{$view_deteils_cat}></a>
					</div>
				<{/if}>-->
			</td>
		</tr>
		</table>

	<{/foreach}>
<{else}>
	<{$lang_no_partners}><br /><br />
<{/if}>
<table cellspacing='0' border='0' width='98%'>
  <tr>
    <td width='50%' align='left'>
    	<{if $displayjoin}>
    		<a href="<{$smartpartner_url}>join.php"><{$lang_join}></a>
    	<{/if}>
    </td>
    <td width='50%' align='right'><{$pagenav}></td>
  </tr>
</table>

<{include file='db:smartpartner_footer.html'}>