<div style="margin-bottom:5px; float: left;" >
  <form name='form' action="index.php" method="POST">
    <strong><{$smarty.const._AM_MYINVITER_STATUS}></strong> <{$selectform}> <strong><{$smarty.const._AM_MYINVITER_RESULTS_FOUND}></strong> <{$count}> <strong><{$smarty.const._AM_MYINVITER_EMAILS_SENT}></strong><{$sent}>
    <input type="submit" name="reset" value="<{$smarty.const._AM_MYINVITER_RESET_COUNTER}>" />
  </form>
</div>
<div style="clear:both;background-color:#abb;">
  <form action="index.php" method="POST">
    <strong><{$smarty.const._AM_MYINVITER_DOMAIN}></strong> <{$domainform}>
    <strong><{$smarty.const._AM_MYINVITER_PROVIDER2}></strong> <{$providerform}>
    <strong><{$smarty.const._AM_MYINVITER_START}></strong> <{$startform}>
    <strong><{$smarty.const._AM_MYINVITER_LIMIT}></strong> <{$limitform}>
    <input type="submit" name="grabemails" value="<{$smarty.const._AM_MYINVITER_GRAB_EMAILS}>" />
  </form>
  <{if $emails_error}>
    <{$emails_error}>
  <{/if}>
  <{if $emails_added || $emails_notadded}>
    <strong><{$smarty.const._AM_MYINVITER_EMAILS_ADDED}></strong> <{$emails_added}> <strong><{$smarty.const._AM_MYINVITER_EMAILS_NOTADDED}></strong> <{$emails_notadded}>
  <{/if}>
</div>

<{if $count > 0}>
<div style="margin-bottom:5px; float: right;" align="right">
  <form action="index.php" method="POST">
    <{if $status == $smarty.const.MYINVITER_STATUS_WAITING}>
    <input type="submit" name="sendpack" value="<{$smarty.const._AM_MYINVITER_SEND_PACK}>" />
    <{/if}>
    <{if $status == $smarty.const.MYINVITER_STATUS_ERROR}>
    <input type="submit" name="moveerrortowaiting" value="<{$smarty.const._AM_MYINVITER_MOVE_TO_WAITING}>" />
    <{/if}>
    <{if $status == $smarty.const.MYINVITER_STATUS_NOTSENT}>
    <input type="submit" name="movenotsenttowaiting" value="<{$smarty.const._AM_MYINVITER_MOVE_TO_WAITING}>" />
    <{/if}>
    <input type="submit" name="delall" value="<{$smarty.const._AM_MYINVITER_DELETE_ALL}>" />
  </form>
</div>
<{/if}>

  <table width="100%" cellspacing="1" cellpadding="0" class="outer">
    <tr align="center">
      <th><{$smarty.const._AM_MYINVITER_NAME}></th>
      <th><{$smarty.const._AM_MYINVITER_EMAIL}></th>
      <th><{$smarty.const._AM_MYINVITER_UID}></th>
      <th><{$smarty.const._AM_MYINVITER_DATE}></th>
      <th width="15%"><{$smarty.const._OPTIONS}></th>
    </tr>
    <{if $count > 0}>
      <{foreach item=obj key=key from=$objs}>
      <tr class="<{cycle values="even,odd"}>" align="center">
        <td align="left"><{$obj.name}></td>
        <td align="left"><{$obj.email}></td>
        <td align="left"><{$obj.userid}></td>
        <td align="left"><{$obj.date}></td>
        <td>
          <{if $status == $smarty.const.MYINVITER_STATUS_WAITING}>
          <a href="index.php?op=send&amp;id=<{$obj.id}>"><img src="<{$xoops_url}>/modules/myinviter/images/send_big.png" title="<{$smarty.const._AM_MYINVITER_SEND}>" alt="<{$smarty.const._AM_MYINVITER_SEND}>" /></a>
          <{/if}>
          <a href="index.php?op=del&amp;id=<{$obj.id}>"><img src="<{$xoops_url}>/modules/myinviter/images/delete_big.png" title="<{$smarty.const._DELETE}>" alt="<{$smarty.const._DELETE}>" /></a>
        </td>
      </tr>
      <{/foreach}>
    <{else}>
      <tr><td class="head" colspan="5" align="center"><{$smarty.const._AM_MYINVITER_NOTFOUND}></td></tr>
    <{/if}>
    <tr>
      <td class="head" colspan="5" align="right">
        <{$pag}>
      </td>
   </tr>
  </table>
