/**
* $Id: module.css,v 1.2 2006/09/25 19:44:52 marcan Exp $
* Module: SmartFAQ
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/
.smartmail_headertable {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

.smartmail_modulename {
	font-size: 10px;
	text-align: left;
	font-weight: bold;
	padding-right: 0.3em;
	line-height: 18px;
}

.smartmail_breadcrumb {
	font-size: 10px;
	line-height: 18px;
}

.smartmail_adminlinks {
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 10px;
	text-align: center;
	line-height: 18px;
}

#smartmail_item_title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 5px;
}

#smartmail_item_body {
	padding-bottom: 10px;
}

#smartmail_item_otherinfo {
	line-height: 135%;
}

#smartmail_item_print_and_mail {
	padding-top: 15px;
}

.smartmail_category_index_list {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid;
}

.smartmail_categoryname {
	padding-bottom: 5px;
	vertical-align: middle;
	font-size: 120%;
	text-align: left;
	font-weight: bold;
	margin: 0;
	line-height: 120%;
}

.smartmail_category_image {
	float: left;
	padding-right: 5px;
	display: block;
}

.smartmail_category_header {
	padding-top: 10px;
	padding-bottom: 5px;
}

.smartmail_subcats {
	padding-top: 5px;
	font-size: 90%;
}

.smartmail_subcats_info {
	padding-bottom: 5px;
	font-weight: bold;
}

.smartmail_collaps_title {
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 130%;
	line-height: 130%;
	font-weight: bold;
	display: block;
}

.smartmail_collaps_info {
	margin: 3px 0 12px 0;
	display: block;
}

.smartmail_item_head_cat {
	padding-top: 0px;
	text-align: right;
	font-style: normal;
	vertical-align: middle;
	display: block;
}

.smartmail_item_head_who {
	padding-top: 5px;
	text-align: right;
	font-style: normal;
	vertical-align: middle;
	display: block;
}

.smartmail_item_image {
	display: block;
	padding: 5px;
}

.smartmail_items_link {
	width: 50%;
	vertical-align: middle;
}

.smartmail_items_list {
	padding-top: 10px;
}

.smartmail_items_list_item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.smartmail_list {
	padding: 8px;
	font-size: 16px;
}

.smartmail_category_dsc {
	margin: 3px 0 10px 0;
	font-size: small;
	display: block;
}

.smartmail_indexfooter {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.smartmail_itemfooter {
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.itemFoot {
	text-align: right;
	padding: 3px;
	border: 1px solid #808080;
}

.itemFoot {
	text-align: right;
	padding: 3px;
	border: 1px solid #808080;
}

.pre_itemInfo {
	padding-top: 5px;
}

.modfooter {
	text-align: center;
	padding-top: 6px;
	font-size: 9px;
	border-top: 0px solid #ccc;
}

.spotlight_readmore {
	font-size: 10px;
	text-align: right;
	border-bottom: 1px solid #000000;
}

.smartmail_itemnav_top {
	padding-top: 5px;
	font-size: 10px;
	text-align: left;
}

.smartmail_itemnav_bottom {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 10px;
	text-align: center;
}

.smartmail_items_navbar {
	text-align: center;
	padding: 10px;
}

#smartmail_submitform {
	margin-top: 5px;
}

#subscription_login_form {
	padding-top: 10px;
}

.smartmail_newsletter_description {
	font-size: 90%;
	padding-left: 20px;
}