<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartclient}></div>

<{if $backtoindex}>
  <div class="smartclient_backlink"><a href="<{$modulepath}>"><{$lang_backtoindex}></a></div>
<{/if}>
<span class="smartclient_infotitle"><{$lang_clientstitle}></span>
<table class='inner' cellspacing='1' width='98%'>
  <tr>
    <td width="60%" valign="top">
      <div class="smartclient_clienttitle">
      	<{$client.urllink}><img style='float: right; padding: 10px;' src='<{$client.image}>' alt='<{$client.clean_title}>' title='<{$client.clean_title}>' align='right' border='5px'/></a>
        <{$client.title}>
        <{if $isAdmin}>
          <a href="<{$xoops_url}>/modules/smartclient/admin/client.php?op=mod&id=<{$client.id}>"><img src="<{$xoops_url}>/modules/smartclient/images/links/edit.gif" title="<{$lang_edit}>" alt="<{$lang_edit}>"/></a>
          <a href="<{$xoops_url}>/modules/smartclient/admin/client.php?op=del&id=<{$client.id}>"><img src="<{$xoops_url}>/modules/smartclient/images/links/delete.gif" title="<{$lang_delete}>" alt="<{$lang_delete}>"/></a>
        <{/if}>
      </div>
      <div class="smartclient_clientsummary">
        <{$client.description}>
      </div>
    </td>
  </tr>
</table>

<br />

<table width="100%">
  <tr>
    <td>
	  <{if $client.contact_name || $client.contact_email || $client.contact_phone || $client.adress || $client.url}>
        <table width="49%" style="font-size: 10px;" class='outer' cellspacing='1'>
          <tr>
            <td class="itemHead" colspan="2"><b><{$lang_client_informations}></b></td>
		  </tr>
	  	  <{if $client.contact_name}>
          <tr>
            <td class="even" width="80px"><div style="font-weight: bold; text-align: center;"><{$lang_contact}></div></td>
            <td class="odd"><{$client.contact_name}></td>
          </tr>
          <{/if}>
          <{if $client.contact_email}>
          <tr>
            <td class="even" width="80px"><div style="font-weight: bold; text-align: center;"><{$lang_email}></div></td>
            <td class="odd"><a href="mailto:<{$client.contact_email}>"><{$client.contact_email}></a></td>
          </tr>
          <{/if}>
          <{if $client.contact_phone}>
          <tr>
            <td class="even" width="80px"><div style="font-weight: bold; text-align: center;"><{$lang_phone}></div></td>
            <td class="odd"><{$client.contact_phone}></td>
          </tr>
          <{/if}>
          <{if $client.adress}>
          <tr>
            <td class="even" width="80px" valign="top"><div style="font-weight: bold; text-align: center;"><{$lang_adress}></div></td>
            <td class="odd"><{$client.adress}></td>
          </tr>
          <{/if}>     
          <{if $client.url}>
          <tr>
            <td class="even" width="80px"><div style="font-weight: bold; text-align: center;"><{$lang_website}></div></td>
            <td class="odd"><a href="vclient.php?id=<{$client.id}>" target="_blank"><{$client.url}></a></td>
          </tr>
          <{/if}>  
        </table>   
      <{/if}>
    </td>
  	<{if $show_stats_block}>
  	<td width="2%">
  	  &nbsp;
  	</td>
  	<td valign="top">
      <table style="text-align: right; font-size: 10px;" class='outer' cellspacing='1'>             
        <tr>
          <td class="itemHead"><b><{$lang_stats}></b></td>
		</tr>
        <tr>
          <td class="odd"><{$lang_page_been_seen}> <{$client.hits_page}> <b><{$lang_times}></b></td>
		</tr>
		<tr>
          <td class="odd"><{$lang_url_been_visited}> <{$client.hits}> <b><{$lang_times}></b></td>
        </tr>
	  <table>
	   <{else}>
  		  <table>             
          <tr>
            <td>&nbsp;</td>
		  </tr>
	    <table>	   
	</td>
	<{/if}>
  </tr>
</table>
<!-- Technically, a close table tage should not be required, but if I don't put one, the notification table shows in the Stats table... //-->
</table>


<br />
<{if $isAdmin == 1}>
<div class="smartclient_adminlinks"><{$smartclient_adminpage}></div>
<{/if}>
<{if $smarttie==1}>
	<{include file='db:smarttie_links.html'}>
<{/if}>
<{include file='db:system_notification_select.html'}>
