<!-- AddToBookmarks.com  Version: 1.2   -->
<script language="JavaScript" type="text/javascript">
var addtoLayout=<{$block.smartobject_addto_layout}>;
var addtoMethod=<{$block.smartobject_addto_method}>;
var AddURL = document.location.href;
var AddTitle = escape(document.title);
var addToScriptUrl='<{$block.smartobject_addto_url}>';
</script>

<script language="JavaScript" src="<{$block.smartobject_addto_url}>addto.js" type="text/javascript"></script>
<!-- End AddToBookmarks.com Version: 1.2-->
<br />
<br />