<div style='font-size: 10px; padding-top: 8px; padding-bottom: 10px; text-align: center;'><{$modfooter}><br />Developed by <a href="http://smartfactory.ca">The SmartFactory</a></div>

<{if $smartobject_enable_admin_footer}>

<div style="border: 2px solid #C2CDD6; padding: 10px; text-align: center; font-weight:bold;">
	<div style="float: left; width: 50%;">
		<a href="http://www.impresscms.org"><img src="<{$xoops_url}>/modules/smartobject/images/impresscms_compat_module.png" alt="This module was developed on ImpressCMS" title="This module was developed on ImpressCMS"/></a> <br />
		Join the fun now at <a href="http://www.impresscms.org">www.impresscms.org</a> !!!
	</div>
	<div style="float: right;  width: 50%;">
		<{$smarty.const._AM_SOBJECT_XOOPS_PRO}>
		<br />
		<a href="http://inboxinternational.com/modules/smartcontent/page.php?pageid=10"><img src="<{$xoops_url}>/modules/smartobject/images/INBOXsign150_noslogan.gif" alt="Need XOOPS Professional Services?" title="Need XOOPS or ImpressCMS Professional Services?"></a>
	</div>
	<div style="clear: both"></div>
</div>
<{/if}>