<script type='text/javascript'>
$(document).ready(function()
	{
	$('.tab_content').hide();
	$('ul.tabs li:first').addClass('active').show();
	$('.tab_content:first').show();

	$('ul.tabs li').click(function()
		{
		$('ul.tabs li').removeClass('active');
		$(this).addClass('active');
		$('.tab_content').hide();
		var activeTab = $(this).find('a').attr('href');
		$(activeTab).fadeIn();
		return false;
		});
	});
</script>

<script type='text/javascript'>
$(document).ready(function(){
    <{foreach item=service key=skey from=$services}>
        <{foreach item=provider key=pkey from=$providers.$skey}>
        $('#<{$pkey}>').fancybox({ 'autoScale' : true, 'overlayShow': true, 'overlayShow': true, 'transitionIn': 'elastic', 'transitionOut': 'none', 'type': 'iframe', 'autoDimensions': true });
        <{/foreach}>
    <{/foreach}>
});
</script>

<{foreach item=error from=$errors}>
<p class="errorMsg"><{$error}></p>
<{/foreach}>

<{foreach item=ok from=$oks}>
<p class="successMsg"><{$ok}></p>
<{/foreach}>

<div class='container'>
	<h1>Select service example</h1>
    <ul class='tabs'>
        <li><a href='#email'>Email Services</a></li>
        <li><a href='#social'>Social Services</a></li>
    </ul>
	<div style='position:absolute;top:40px;right:270px;'><a href='http://openinviter.com/'><img src='http://openinviter.com/images/banners/banner_blue_1.gif?nr=118' border='0' alt='Powered by OpenInviter.com' title='Powered by OpenInviter.com'></a></div>
<div class='tab_container'>
<{foreach item=service key=skey from=$services}>
     <style type='text/css'>
	.crop_image_<{$skey}> { background-image:url('imgs/<{$skey}>_services.png'); border:none; display:block; height:60px; margin:0; padding:0; width:130px; }
	</style>
    <{assign var="nCols" value=5}>
    <{assign var="c" value=0}>
    <{assign var="r" value=-1}>
    <{assign var="smallImageWidth" value=130}>
    <{assign var="smallImageHeight" value=60}>
    <div id='<{$skey}>' class='tab_content'><table cellspacing='0' cellpadding='0' style='border: medium none;'>

     <{foreach item=provider key=pkey from=$providers.$skey}>
        <{assign var="r" value=$r+1}>
        <{if $c is div by $nCols}>
          <{assign var="c" value=0}>
          <tr>
        <{/if}>
         <td align='center'>
            <a href='get_contacts.php?provider_box=<{$pkey}>' id='<{$pkey}>'>
                <{assign var="h" value=$smallImageHeight*$r}>
                <div style='background-position: 0px -<{$h}>px;' class='crop_image_<{$skey}>'></div>
            </a>
        </td>
       <{assign var="c" value=$c+1}>
		<{if $c is div by $nCols}>
        </tr>
        <{/if}>
    <{/foreach}>
        </tr>
    </table>
    </div>
<{/foreach}>
</div>
<div style="clear:both;"></div>