<{if $pagelist}>
<div style="float: right;">
	<form method="get" action="index.php" id="changepage">
	<select name="pageid" id="pageid">
    <{foreach item=name from=$pagelist key=value }>
        <option value="<{$value}>"><{$name}></option>
    <{/foreach}>
	</select>
	<input type="submit" value="<{$smarty.const._AM_MYTABS_GOTO_PAGE}>">
	</form>
</div>
<div><a href="index.php"><{$smarty.const._AM_MYTABS_HOME}></a>
&raquo;&nbsp;<a href="index.php?pageid=<{$pageid}>"><{$pagename}></a>&nbsp;
<a href="page.php?op=edit&amp;pageid=<{$pageid}>"><{$smarty.const._EDIT}></a> -
        <a href="page.php?op=delete&amp;pageid=<{$pageid}>"><{$smarty.const._DELETE}></a>
</div>
<{/if}>
<div>
<{if $blocks}>
<form action="index.php" method="post" onsubmit="return confirmIfDelete(this);">
<p>
	<table width="100%" cellspacing="0" cellpadding="4" style="border: 1px solid black; border-collapse: collapse;">
	<tr>  <{foreach from=$blocks key=k item=v}>
		<td style="border: 1px solid black;" valign="top">
        <{$tabs.$k}>
        <a href="tab.php?op=edit&amp;tabid=<{$k}>"><{$smarty.const._EDIT}></a> -
        <a href="tab.php?op=delete&amp;tabid=<{$k}>"><{$smarty.const._DELETE}></a>
        <{include file="db:mytabs_admin_blocks.html" blocks=$v}></td>
        <{/foreach}>
    </tr>
	</table>
	<p>
		<select name="doaction">
			<option value="setpriorities"><{$smarty.const._AM_MYTABS_ACTION_SETPRIORITIES}></option>
			<option value="delete"><{$smarty.const._AM_MYTABS_DELETE}></option>
		</select>
		<input type="submit" value="<{$smarty.const._AM_MYTABS_GO}>" />
		<input type="button" onclick="document.location='index.php?pageid=<{$pageid}>';" value="<{$smarty.const._AM_MYTABS_CANCEL}>" />
	</p>
	<input type="hidden" name="pageid" value="<{$pageid}>" />
	</form>
</p>
<fieldset style="float: right;">
	<legend><{$smarty.const._AM_MYTABS_COLOR_LEGEND}></legend>
	<table>
		<tr>
			<td style="background: #eee; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><{$smarty.const._AM_MYTABS_COLOR_LEGEND_THISPAGE}></td>
		</tr>
		<tr>
			<td style="background: #ddf; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><{$smarty.const._AM_MYTABS_COLOR_LEGEND_THISPAGE_FALLDOWN}></td>
		</tr>
		<tr>
			<td style="background: #aaf; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><{$smarty.const._AM_MYTABS_COLOR_LEGEND_FALLENDOWN}></td>
		</tr>
		<tr>
			<td style="background: #aaa; border: 1px solid black;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><{$smarty.const._AM_MYTABS_COLOR_LEGEND_NOT_VISIBLE}></td>
		</tr>
	</table>
</fieldset>
<{/if}>
<{if $placement}>
<p>
	<h3><{$smarty.const._AM_MYTABS_CREATE_BLOCK}></h3>

	<form method="post" action="block.php" id="newblocksubmit">
	<input type="hidden" name="op" value="new" />
	<select name="blockid" id="blockid">


    <{foreach item=name from=$blocklist key=value }>
        <option value="<{$value}>"><{$name}></option>
    <{/foreach}>
	</select>&nbsp;
     <{$placement}>
	<input type="submit" value="<{$smarty.const._AM_MYTABS_GO}>">
	<input type="hidden" name="pageid" value="<{$pageid}>">
	</form>
</p>
<{/if}>
<{if $pagelist}>
<p>
	<h3><{$smarty.const._AM_MYTABS_CREATE_TAB}></h3>

	<form method="post" action="tab.php" id="newtabsubmit">
	<input type="hidden" name="op" value="new" />
    <input type="text" name="tabtitle" id="tabtitle" size="14" >
	<input type="submit" value="<{$smarty.const._AM_MYTABS_GO}>">
	<input type="hidden" name="pageid" value="<{$pageid}>">
	</form>
</p>
<{/if}>

<p>
	<h3><{$smarty.const._AM_MYTABS_CREATE_PAGE}></h3>

	<form method="post" action="page.php" id="newpagesubmit">
	<input type="hidden" name="op" value="new" />
    <input type="text" name="pagetitle" id="pagetitle" size="14" >
	<input type="submit" value="<{$smarty.const._AM_MYTABS_GO}>">
	</form>
</p>
</div>
<div id="flexblock_infoblock" style="margin-top: 20px;"></div>

<script type="text/javascript">
function toggleCb(id) {
    var checkbox=document.getElementById('cb_'+id);
    checkbox.checked=!checkbox.checked;
    document.getElementById('hl_'+id).style.backgroundColor=checkbox.checked?'#fa0':'#ccc';
}

function confirmIfDelete(form) {
    if(form.doaction.value=='delete')
    return confirm('<{$smarty.const._AM_MYTABS_CONFIRM_DELETE}>');
    return true;
}

</script>
