/**
* $Id: module.css,v 1.1 2005/03/31 01:07:48 malanciault Exp $
* Module: SmartFAQ
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/
.smartpartner_infotitle {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	display: block;
}

.smartpartner_infotext {
	margin-bottom: 8px;
	line-height: 130%;
	display: block;
}

.smartpartner_partnertitle {
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 6px;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	display: block;
}

.smartpartner_partnersummary {
	margin-left: 2px;
	text-align: justify;
}

.smartpartner_readmore {
	margin-top: 2px;
	font-size: 10px;
	text-align: left;
	line-height: 18px;
}

.smartpartner_headertable {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #2F5376;
}

.smartpartner_modulename {
	font-size: 18px;
	text-align: right;
	font-weight: bold;
	letter-spacing: -1.5px;
	margin: 0;
	line-height: 18px;
}

.smartpartner_collaps_title {
	margin: 6px 0 0 0;
}

.smartpartner_collaps_info {
	margin: 3px 0 12px 0;
	font-size: small;
	display: block;
}

.smartpartner_category_dsc {
	margin: 3px 0 10px 0;
	font-size: small;
	display: block;
}

.smartpartner_adminlinks {
	font-size: 10px;
	text-align: center;
	line-height: 18px;
}

.smartpartner_backlink {
	font-size: 10px;
	text-align: right;
	line-height: 12px;
}

.smartpartner_leftcol {
	font-size: 90%;
	padding: 10px;
	vertical-align: middle;
}

.itemFoot {
	text-align: right;
	padding: 3px;
	border: 1px solid #808080;
	background-color: #fff;
}

.modfooter {
	text-align: center;
	padding-top: 6px;
	font-size: 9px;
	border-top: 0px solid #ccc;
}