/**
* $Id: module.css,v 1.2 2007/09/18 14:00:55 marcan Exp $
* Module: SmartFAQ
* Author: marcan <marcan@notrevie.ca>
* Licence: GNU
*/

.smartpartner_headertable {padding: 0; margin: 0; border-bottom: 1px solid; margin-bottom: 10px;}
.smartpartner_modulename {font-size: 10px; text-align: left; font-weight: bold; padding-right: 0.3em;	line-height: 18px;}
.smartpartner_breadcrumb {font-size: 10px; line-height: 18px;}


.smartpartner_infotitle {margin-top: 8px; margin-bottom: 8px; font-size: 14px; font-weight: bold; display: block;}
.smartpartner_infotext  {margin-bottom: 8px; display: block;}

.smartpartner_partnertitle {margin-left: 2px; margin-top: 2px; margin-bottom: 6px; font-size: 15px; font-weight: bold; display: block;}
.smartpartner_partnersummary { margin-left: 2px; text-align: left; padding-bottom: 12px; }
.smartpartner_readmore {margin-top: 2px; font-size: 10px; text-align: left;}

.smartpartner_collaps_title {margin: 6px 0 0;}
.smartpartner_collaps_info {margin: 3px 0 12px 0; font-size: small; display: block;}

.smartpartner_category_dsc {margin: 3px 0 10px 0; font-size: small; display: block;}
.smartpartner_adminlinks {font-size: 10px; text-align: center; line-height: 18px;}
.smartpartner_backlink {font-size: 10px; text-align: right; line-height: 12px;}

.smartpartner_leftcol{padding: 10px; vertical-align: top;}

.itemFoot {text-align: right; padding:3px; border:1px solid #808080; background-color: #fff; }

.modfooter{text-align: center; padding-top: 6px; font-size: 9px; border-top: 0px solid #ccc; }

.smartpartner_category_block { margin-bottom: 5px; padding: 10px 3px; margin-rop: 5px; }
.smartpartner_category_block_title {font-size: 18px; font-weight: bold;}
.smartpartner_category_block_dsc {}
.smartpartner_category_image {padding-right: 5px;}
.smartpartner_category_subcats {padding-top:5px;}
.smartpartner_category_viewall {padding-top: 5px; padding-bottom: 15px; text-align: right; font-weight: bold; font-size: 90%;}
.smartpartner_clearboth {clear: both;}
