<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartpartner}></div>
<{if $lang_partnerstitle}>
	<div class="smartpartner_infotitle"><{$lang_partnerstitle}></div>
	<div class="smartpartner_infotext"><{$lang_intro_text}></div>
<{else}>
	<div class="smartpartner_infotitle"><{$lang_intro_text}></div>
<{/if}>
<br />

<{if $partners}>
	<table class='outer' cellspacing='1' width='98%'>
	<{foreach item=partner from=$partners}>
		<tr>
	    <td width="<{$img_max_width}>" class="smartpartner_leftcol" align='center'>
	    <{$partner.urllink}><img src='<{$partner.image}>' alt='<{$partner.title}>' title='<{$partner.title}>' /></a></td>
	    <td class='<{cycle values="even, odd"}>' style="padding: 5px;" align='left' valign='top'>
    		<div class="smartpartner_partnertitle"><{$partner.title}>
    		<{if $isAdmin}>
	    		<a href="<{$smartpartner_url}>admin/partner.php?op=mod&id=<{$partner.id}>"><img src="<{$smartpartner_url}>images/links/edit.gif" title="<{$lang_edit}>" alt="<{$lang_edit}>"/></a>
	    		<a href="<{$smartpartner_url}>admin/partner.php?op=del&id=<{$partner.id}>"><img src="<{$smartpartner_url}>images/links/delete.gif" title="<{$lang_delete}>" alt="<{$lang_delete}>"/></a>
			<{/if}>
    		</div>
    		<div class="smartpartner_partnersummary"><{$partner.summary}></div>
  			<{if $partner.readmore}>
    			<div class="smartpartner_readmore"><a href="<{$smartpartner_url}>partner.php?id=<{$partner.id}>"><{$lang_readmore}></a></div>
    		<{/if}>
    	</td>
  	</tr>
 	<tr><td colspan="2"></td></tr>

	<{/foreach}>
	</table>
<{else}>
	<{$lang_no_partners}><br /><br />
<{/if}>
<table cellspacing='0' border='0' width='98%'>
  <tr>
    <td width='50%' align='left'>
    	<{if $displayjoin}>
    		<a href="<{$smartpartner_url}>join.php"><{$lang_join}></a>
    	<{/if}>
    </td>
    <td width='50%' align='right'><{$pagenav}></td>
  </tr>
</table>

<br />
<{if $isAdmin == 1}>
  <div class="smartpartner_adminlinks"><{$smartpartner_adminpage}></div>
<{/if}>


<{include file='db:system_notification_select.html'}>