<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartclient}></div>
<{if $lang_clientstitle}>
	<div class="smartclient_infotitle"><{$lang_clientstitle}></div>
	<div class="smartclient_infotext"><{$lang_intro_text}></div>
<{else}>
	<div class="smartclient_infotitle"><{$lang_intro_text}></div>
<{/if}>
<br />

<{if $clients}>
	<table class='outer' cellspacing='1' width='98%'>
	<{foreach item=client from=$clients}>
		<tr>
	    <td width="<{$img_max_width}>" class="smartclient_leftcol" align='center'>
	    <{$client.urllink}><img src='<{$client.image}>' alt='<{$client.title}>' title='<{$client.title}>' /></a></td>
	    <td class='<{cycle values="even, odd"}>' style="padding: 5px;" align='left' valign='top'>
    		<div class="smartclient_clienttitle"><{$client.title}>
    		<{if $isAdmin}>
	    		<a href="<{$xoops_url}>/modules/smartclient/admin/client.php?op=mod&id=<{$client.id}>"><img src="<{$xoops_url}>/modules/smartclient/images/links/edit.gif" title="<{$lang_edit}>" alt="<{$lang_edit}>"/></a>
	    		<a href="<{$xoops_url}>/modules/smartclient/admin/client.php?op=del&id=<{$client.id}>"><img src="<{$xoops_url}>/modules/smartclient/images/links/delete.gif" title="<{$lang_delete}>" alt="<{$lang_delete}>"/></a>
			<{/if}>
    		</div>
    		<div class="smartclient_clientsummary"><{$client.summary}></div>
  			<{if $client.readmore}>
    			<div class="smartclient_readmore"><a href="<{$xoops_url}>/modules/smartclient/client.php?id=<{$client.id}>"><{$lang_readmore}></a></div>
    		<{/if}>
    	</td>
  	</tr>
 	<tr><td colspan="2"></td></tr>

	<{/foreach}>
	</table>
<{else}>
	<{$lang_no_clients}><br /><br />
<{/if}>
<table cellspacing='0' border='0' width='98%'>
  <tr>
    <td width='50%' align='left'>
    	<{if $displayjoin}>
    		<a href="<{$xoops_url}>/modules/smartclient/join.php"><{$lang_join}></a>
    	<{/if}>
    </td>
    <td width='50%' align='right'><{$pagenav}></td>
  </tr>
</table>

<br />
<{if $isAdmin == 1}>
  <div class="smartclient_adminlinks"><{$smartclient_adminpage}></div>
<{/if}>


<{include file='db:system_notification_select.html'}>