.smart_infoMessage {
	background: url(images/infomsg_icon.gif) no-repeat;
	border: 1px solid #99CC99;
	background-color: #E2F9E3;
	color: #3F663F;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 2px;
}

.smart_errorMessage {
	background: url(images/errormsg_icon.gif) no-repeat;
	border: 1px solid #CC9999;
	background-color: #CC0000;
	color: #ffffff;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 2px;
}

#smartobject_rating_container {
	
}

#smartobject_rating_container .itemHead {
	font-weight: bold;
}

#smartobject_rating_container .item {
	width: 300px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}

#smartobject_rating_container .odd {
	padding: 6px;
	height: auto;
}

.smartobject_autocomplete_hint {
	border: 1px solid #000;
	background-color: #fff;
}

.smartobject_autocomplete_hint li {
	list-style: none;
	color: default;
}

.smartobject_autocomplete_hint li:hover {
	background-color: #E9E9E9;
	cursor: pointer;
}