/*Samuel's Xoops XK_Editor $Id: xp.css 1319 2008-02-12 10:56:44Z phppp $*/
.xpwIframe{width:100%;border:none;margin:0px;padding:0px;background:#FFFFFF}
.xpeditorStatus{margin:1px;float:right;display:inline;text-align:right}
.xpeditorStatus img{border:1px outset #C3DAF9}
.xptoolbarBackCell{width:100%;border-bottom:1px solid #A8B7FF;border-right:1px solid #A8B7FF;padding:0px;margin:0px;vertical-align:top;background:url(t.gif)}
.xptoolBar{position:static;display:inline;cursor:pointer;z-index:999;line-height:0px}
.xpstatusBar{float:left;padding:2px;border:none;background:#E4E4E4}
.xpsmileysBar{float:left;display:inline}
.xphtmlBar{float:right;display:inline}
.xpselectInput{width:74px;border: 1px solid #E4EBF1;margin-top:4px;margin-left:2px;vertical-align:top;font:9px Verdana,Arial,Helvetica,sans-serif;}
.xpcheckbox{border:none;margin-top:2px;width:16px;vertical-align:top;background:transparent}
.xpfloatingToolBar,.xptablePropsD,.xpcontextMenu,.xpcellAlignD,.xpcellBordersD,.xpquickTableD,.xpClearFormatsD,.xpColorPickerD{border-top:#666666 1px solid;border-left:#666666 1px solid;border-right:#666666 2px solid;border-bottom:#666666 2px solid;position:absolute;vertical-align:top;cursor:pointer;z-index:999;padding:2px;background:#FFFFFF}
.xpcellAlignD td{width:15px;padding:2px}
.xpcellBordersD{width:73px;height:51px}
.xpDivOption{padding:4px;font-size:80%;width:150px}
.xptdPicker{border:#666666 1px solid;width:5px;height:5px;}
.xpcolorpickerHEX{width:54px;height:14px;border:none;font:9px Verdana,Arial,Helvetica,sans-serif;background:transparent}
.xpcolorpickerPreview{width:48px;height:20px;font-size:9px;margin:2px}
.xpColorPickerD{width:150px}
.xpColorsContainer{float:left;font-size:0.1px;padding:2px}
.xpColors{float:left;width:10px;height:10px;margin:3px}
.xpcellPreviewDiv,.xptablePreviewDiv{font-size:12px;padding:4px;overflow:auto;width:370px;height:170px}
.xpimagePreview{height:150px;width:370px;overflow:auto !important;background:#FFFFFF}
.xpInput,.xpInput2,.xpInput4,.xpSubmitInput{border:1px solid #7BA4E0;margin:1px;font:9px Verdana,Arial,Helvetica,sans-serif;background-color: #EAF4FD;}
.xpInput{width:48px;}
.xpInput2{width:120px;background-color: #DDECFE;}
.xpInput4{width:300px;}
.xpSubmitInput{background-color: #DDECFE;width:48px;}
.xppasteSIframe{margin:4px;width:98%;border:1px solid #000000;background:#FFFFFF}
.xpcontextMenu{-moz-border-radius:5px;padding:2px;width:154px;z-index:1000;font:10px Verdana,Geneva,Arial,Helvetica,sans-serif}
.xpcontextMenu div,.xpcontextMenu img{vertical-align:middle;padding:1px}
.xpcontextLast{border-bottom:1px solid #C0C0C0;position: }

.xpselectedTab,.xpnotSelectedTab{font:10px Verdana,Arial,Helvetica,sans-serif;padding:1px 3px 0px 3px;float:left;border-bottom:none !important;position:relative;height:18px;margin-left:3px;}
.xpselectedTab{border:1px solid #7BA4E0;background-color: #DDECFE;z-index: 2;font-weight: bold;}
.xpnotSelectedTab{border: 1px solid #7BA4E0;border-bottom:none;z-index: 0;background-color: #B7CDEB;cursor:pointer;}
.xpdownTabContainer{float:left;border:1px solid #7BA4E0;height:200px;width:99%;margin-top:-1px;z-index: 1;position:relative;background-color:#DDECFE;}
.xpdivTabContent{padding:10px;}
.xpPropsBody{margin:2px;font:10px Verdana,Arial,Helvetica,sans-serif;background: #C2D8F9;}